body {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0rem;
  height: 100vh;
  flex-direction: column;
}

.topnav,
.content,
.sidebar,
.map {
  border: 1px solid rgb(162, 162, 162);
}

.sidebar {
  width: 40%;
}

.map {
  flex-grow: 1;
  height: 50%;
}

.content {
  flex-grow: 1;
  display: flex;
}

.chart {
  background-color: white;
  border: 0px solid green;
  margin: 0rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 00.5rem;
  flex-direction: column;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 85%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4C96D7; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.right-content {
  width: 60%;
}
#bar-chart {
  height: 30%;
  margin: 0.5rem;
}
#panel {
  border: 0px;
  height: 100%;
  width: 100%;
}
#line-chart {
  height: 40%;
}
.select {
  margin: 1rem;
}
#output-value {
  margin: 0.2rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #eee;
  overflow: hidden;
  padding: 0.5rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4C96D7;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4C96D7;
  color: white;
}
#logo {
  float: right;
   
}
#pie-chart {
  margin: 0.5rem;
}
#logo {
  height:40px;
}