body {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0rem;
  height: 100vh;
  flex-direction: column;
}


.topnav,
.content,
.sidebar,
.map {
  border: 1px solid red;
}

.topnav {
  padding: 1rem;
  background-color: #eee;
  color: #222;
}

.sidebar {
  width: 25rem;
}

.map {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
}

.chart {
  height: 25%;
  background-color: aquamarine;
  border: 1px solid green;
  margin: 2rem;
}
